<div clas= "container">

    <form class="form-horizontal">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname" [(ngModel)] = "person.fname" name ="fname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname"  [(ngModel)] = "person.lname" name="lname">
        </div>
     
        <div class="form-group">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of phones;let i = index">
                        <td>
                            <input  class="form-control" type="text"  id="{{i}}" value="{{phones[i].type}}" name="{{phones[i].type}}" />
                        </td>
                        <td>
                            <input type="number" class="form-control" id="{{i}}" name="{{phones[i].type}}" value="{{phones[i].number}}">
                        </td>
                        <td>
                            <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.type" name="newAttributeType" />
                        </td>
                        <td>
                            <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.number" name="newAttributeNumber" />
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <button  class="btn btn-primary" (click) = "doSave()">Save</button>
      </form>
      </div>